<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <!-- Enable features. Full list of features: https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_feat.html-->
    <featureManager>
        <feature>webProfile-7.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <!-- Declare the runtime database -->
    <dataSource id="DefaultDataSource" jndiName="jdbc/MySQLDataSource">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="test"
                    serverName="localhost" portNumber="3306"
                    user="root" password="root"/>
    </dataSource>

    <library id="MySQLLib">        <fileset dir="${wlp.install.dir}/usr/shared/resources" includes="mysql.jar"/>
    </library>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="localhost"
                  httpPort="9080"
                  httpsPort="9443" />
</server>